.dark {
    background: dimgrey;
}

.dark-text {
    color: aliceblue;
}

.red {
    background: lightcoral;
}

.red-text {
    color: aqua;
}

.qwe {
    background: lightgreen;
}

.qwe-text {
    color: darkslateblue;
}