.checkbox {
    appearance: none;
    cursor: pointer;
    width: 15px;
    height: 15px;
    background-color: #ffe26a;
    border: 1px solid grey;
    border-radius: 3px;
    transition: all ease-out 2s;
    margin: 0 5px 0 5px;
}
.checkbox:checked {
    background-image: url('./check.png');
    background-size: cover;
}
.checkbox:focus {
    box-shadow: 1px 1px grey;
    transition: all ease-out 2s;
}
